# History files
.Rhistory
.RData

# Example code in package build process
*-Ex.R

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# OSX files
.DS_Store

# Specific Files
agentModel
incData.csv
modelData.csv

# .swp files
*.swp
