# History files
.Rhistory
.RData

# Example code in package build process
*-Ex.R

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# OSX files
.DS_Store

# Specific Files
agentModel
agentModelStrictHill
incData.csv
modelData.csv

# Temp editing files
*.swp
*.*~

#data Files
in_progress/models/costBenefitAnalysis/data/inc*.csv
in_progress/models/costBenefitAnalysis/data/red*.csv

#tex files
*.aux
*.log
*.synctex
